{% extends 'auctions/layout.html'%}

{% block body %}
    <h1>Your Watchlist</h1>
    <div>
        <form action="{% url 'sortCate' %}" method="POST">
            {% csrf_token %}
            <label for="cate">Choose category: </label>
                <select name="cate">
                    {% for cate in category %}
                        <option value="{{cate}}">{{cate}}</option>
                    {% endfor %}
                </select>
            <button type="submit" class="btn btn-warning">Search</button>
        </form>
    </div>
    {% for list in listing %}
        <div class="card" style="width: 18rem; position: relative;">
            <img class="card-img-top" id="cardImage" src="{{list.image}}" alt="{{list.title}}">
            <div class="card-body">
                <h5 class="card-title">{{list.title}}</h5>
                <p class="card-text">${{list.price}}</p>

                <form action="{% url "detail" list.id %}">
                    <button type="submit" class="btn btn-primary">Detail</button>
                </form>
            </div>
        </div>

    {% endfor %}
{% endblock %}